@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
    flex-direction: column;
    background: #293462;
}

.inputBox
{
    position: relative;
    width: 250px;
}

.inputBox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #293462;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span
{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:valid ~ span
{
    color: #3AB4F2;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #293462;
    border-left: 1px solid #3AB4F2;
    border-right: 1px solid #3AB4F2;
}

.inputBox:nth-child(5) input:valid ~ span,
.inputBox:nth-child(5) input:valid ~ span
{
    background: #3AB4F2;
    color: #1d2b3a;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:valid
{
    border: 1px solid #3AB4F2;
}



